.body {
  background-color: white;
  min-height: 100vh;
  box-shadow: 0 0 20px #444444;
}

.footer {
  background-color: #bbbbbb;
}

html, body {
  background-color: lightgray;
  overflow-y: overlay;
}

h1 {
  font-weight: bold;
}

textarea {
  resize: none;
}